<section id="Home">
	<nav>
		<div class="logo">
			<img src="./assets/image/hcl_logo.png">
		</div>

		<ul>
			<li><span>Welcome {{user.username}}</span></li>
			<li><a href="showUserMenuItems">View Menu Items</a></li>
			<li><a href="cartview">View Order Details</a></li>
			<li><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
		</ul>

	</nav>

	<div class="main">

		<div class="men_text">
			<h1>
				<span>About Us</span><br>
			</h1>
		</div>

		<div class="main_image">
			<img src="./assets/image/main_img.png">
		</div>

	</div>

	<p>HCL Global Systems is one of the best IT consulting firm
		specialized in Application development, Quality Testing, IT Courses
		Training, staffing and recruitment services. With wide range of
		experience, we are confident in our ability to help our customers
		grow and improve their businesses.</p>
</section>
