
	<h1>Sign Up</h1>
	<!-- <a href="home"><button class="btn btn-primary">HOME</button></a> -->
		<hr />
			<form (ngSubmit)="updatedUserValue()" #registerForm="ngForm">

				<div class="lcontainer">
					
				<label for="username"><b>Username</b></label>
				<input type="text" [(ngModel)]="user.username" name="username"  required #name="ngModel" id="username"/>
				<div id="usernameErrors" *ngIf="name.invalid && (name.touched || name.dirty)">
				  <span *ngIf="name.errors?.['required']">This field required</span>
			    </div>
				<label for="emailid"><b>Email ID</b></label>
				<input type="text" [(ngModel)]="user.emailid" name="emailid" required #email="ngModel" [pattern]="emailPattern" id="emailid"/>
				<div id="emailErrors" *ngIf="email.invalid && (email.touched || email.dirty)">
					<span *ngIf="email.errors?.['required']">This field required</span>
					<span *ngIf="email.errors?.['pattern']">Please enter a valid email pattern</span>		
				</div>
				<label for="mobile"><b>Mobile No.</b></label>
				<input type="text" [(ngModel)]="user.mobile" name="mobile" />
			
				<label for="address"><b>Address</b></label>
				<input type="text" [(ngModel)]="user.address" name="address" />
			
				<label for="password"><b>Password</b></label>
				<input type="password" [(ngModel)]="user.password" name="password" required #password="ngModel" [pattern]="passwordPattern" id="password"/>
				<div id="passwordErrors" *ngIf="password.invalid && (password.touched || password.dirty)">
					<span *ngIf="password.errors?.['required']">This field required</span>
					<span *ngIf="password.errors?.['pattern']">This field should have min of 5 char and 1 alphabet, 1 numeric and atleast 1 special char</span>
				</div>
				<input type="submit" class="btn btn-primary" value="Register" [disabled]="registerForm.invalid" />
			</div>
					<a href="home"><button type="button" class="cancelbtn">Cancel</button></a>
				
			</form> 

		

		  